<link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

<form #postForm="ngForm" (ngSubmit)="submitForm(postForm)" class="formStyle">
    <div class="formContainer">
        <label for="title">Title</label>
        <input type="text" name="title" ngModel>
        <label for="thought">Thought</label>
        <input type="text" name="thought" class="thoughtInput" ngModel>
        <button class="addPost">Add Post</button>
    </div>
</form>

<!-- Forms module needs a) a name #addPost b] add event onto forms c) every input needs to have a name + ngModel  -->